**Content Provided:**
{{.Content}}

-----------

**Task:** Your task is to select appropriate tags for the document for paperless-ngx.
**Instructions:**
1. The content is likely in {{.Language}}.
2. **Available Tags:** {{.AvailableTags | join ", "}}
3. **Title:** {{.Title}}
4. Tags are basically created by understanding the text and extracting that into a short single word that explains its intend the best (either a direct match or an indirect one in {{.Language}}).
5. Scan the content and come up with a document-type that matches its description the best
6. Scan the title and content with the given document-type in mind and find the matching tags from both
7. Compare them against the list of available tags, if you find similiar tags choose the ones from the available tags first.
7. Absolutely make sure that you never return more then 4 tags in total! Remove more tags by least logical order first.
7. Respond with the final, clean and filtered selected tags as a comma-separated list without any reasoning given.